
.vs/ProjectEvaluation/

.vs/ScpSLAPI-NET/DesignTimeBuild/

.vs/ScpSLAPI-NET/FileContentIndex/

.vs/ScpSLAPI-NET/v17/

ScpSLAPI-NET.Test/bin/Debug/net6.0/

ScpSLAPI-NET.Test/obj/Debug/net6.0/

ScpSLAPI-NET.Test/obj/

ScpSLAPI-NET/bin/Debug/net6.0/

ScpSLAPI-NET/obj/Debug/net6.0/

ScpSLAPI-NET/obj/
